<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org' th:charset='UTF-8'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='_csrf' th:content='${_csrf.token}' />
    <meta name='_csrf_header' th:content='${_csrf.headerName}' />
    <title th:text="'Hội đồng bảo vệ KLTN - ' + #{app.name}"></title>

    <!-- BEGIN MAIN LEVEL STYLES -->
    <link href='../../public/css/bootstrap.min.css ' rel='stylesheet' media='screen'>
    <link href='../../public/vendor/font-awesome/css/font-awesome.css ' rel='stylesheet' media='screen'>
    <link href='../../public/css/animate.css ' rel='stylesheet' media='screen'>
    <link href='../../public/css/style.css ' rel='stylesheet' media='screen'>
    <!-- END MAIN LEVEL STYLES -->

    <!-- BEGIN PAGE LEVEL STYLESHEETS -->
    <link href="../../public/css/plugins/iCheck/custom.css  " rel="stylesheet" media="screen">
    <link href="../../public/css/plugins/dataTables/datatables.min.css " rel="stylesheet">
    <link href="../../public/css/wad/faculty/council.css" rel="stylesheet" media="screen">
    <!-- END PAGE LEVEL STYLESHEETS -->
</head>

<body>
    <!-- NAVIGATION -->
    <div th:replace='/faculty/tpl/header :: navigation'></div>
    <!-- END NAVIGATION -->
    
    <div id='page-wrapper' class='gray-bg'>

        <!-- HEADER -->
        <!-- <div th:replace='/admin/tpl/header :: header'></div> -->
        <!-- END HEADER -->
        <header>
            <%- include("../views/admin/tpl/header") %>
        </header>

        <!-- END PAGE TITLE -->

        <!-- PAGE CONTENT -->
        <div id="councils-wrapper">
            <div th:fragment="councilContent">
                <div class="council-content" th:each='council: ${councilList}'>
                    <input type="hidden" class="council-id" th:value="${council.getCouncilId()}" />
                    <div class='row'>
                        <div class='col-md-12'>
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5 th:text="${council.getCouncilName()}"></h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="delete-council">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="tabs-container">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a data-toggle="tab" th:href="'#tab-'+${council.getCouncilId()}+'1'"
                                                    aria-expanded="false">
                                                    Chi tiết môn thi
                                                </a>
                                            </li>
                                            <li class="">
                                                <a data-toggle="tab" th:href="'#tab-'+${council.getCouncilId()}+'2'"
                                                    aria-expanded="true">
                                                    Thông tin
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div th:id="'tab-'+${council.getCouncilId()}+'1'" class="tab-pane active">
                                                <button class='btn btn-primary add-thesis-title-btn' type="button"
                                                    style="margin-top: 5px;">
                                                    <i class='fa fa-plus'></i>
                                                    Thêm danh sách ca thi
                                                </button>
                                                <div class="add-thesis-content">
                                                    <div class="row">
                                                        <input type="hidden" th:id="'stdId'+${council.getCouncilId()}">
                                                        <div class="col-md-3 form-group">
                                                            <label class="col-md-12 control-label">Mã môn thi:
                                                            </label>
                                                            <div class="col-md-12">
                                                                <input class="stdCode form-control" type="text" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 form-group">
                                                            <label class="col-md-12 control-label">Tên môn thi:
                                                            </label>
                                                            <div class="col-md-12">
                                                                <input th:id="'stdName'+${council.getCouncilId()}"
                                                                    class="form-control" type="text" disabled />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 form-group">
                                                            <label class="col-md-12 control-label">Tín chỉ:
                                                            </label>
                                                            <div class="col-md-12">
                                                                <input th:id="'stdName'+${council.getCouncilId()}"
                                                                    class="form-control" type="text" disabled />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 form-group">
                                                            <label class="col-md-12 control-label">Ca thi:
                                                            </label>
                                                            <div class="col-md-12">
                                                                <input th:id="'stdName'+${council.getCouncilId()}"
                                                                    class="form-control" type="text" disabled />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 form-group">
                                                            <label class="col-md-12 control-label">Phòng thi:
                                                            </label>
                                                            <div class="col-md-12">
                                                                <input th:id="'stdName'+${council.getCouncilId()}"
                                                                    class="form-control" type="text" disabled />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 form-group">
                                                            <label class="col-md-12 control-label">Thời gian: </label>
                                                            <div class="col-md-12">
                                                                <input th:id="'stdDob'+${council.getCouncilId()}"
                                                                    class="form-control" type="text" disabled />
                                                            </div>
                                                        </div>


                                                        <div class='row'>
                                                            <div class='col-md-12'>
                                                                <button
                                                                    class='btn pull-right btn-primary add-thesis-btn'
                                                                    type='submit'>
                                                                    Tạo
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <section th:id="'thesis-list-' + ${council.getCouncilId()}">
                                                        <div th:fragment="'thesisContent-' + ${council.getCouncilId()}"
                                                            class="ibox-content">
                                                            <div class="table-responsive">
                                                                <table
                                                                    class="thesis_table table table-striped table-bordered table-hover">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Mã môn thi</th>
                                                                            <th>Tên môn thi</th>
                                                                            <th>Tín chỉ</th>
                                                                            <th>Ca thi</th>
                                                                            <th>Phòng thi</th>
                                                                            <th>Số lương máy</th>
                                                                            <th>Thời gian</th>
                                                                            
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr th:each='thesis: ${council.getTheses()}'>
                                                                            <td class="thesisStdName"
                                                                                th:text="${thesis.getStudent().getName()}">
                                                                            </td>
                                                                            <td class="thesisStdDob" th:text="${#dates.format(thesis.student.dob, 'yyyy-MM-dd')}"></td>
                                                                    <td class="thesisName" th:text="${thesis.getTitle()}"></td>
                                                                    <td class="firstThesisReviewer" th:text="${thesis.getFirstReviewer().getName()}"></td>
                                                                    <td class="firstReviewerOffice">Trường ĐHCN</td>
                                                                    <td class="secondThesisReviewer" th:text="${thesis.getSecondReviewer().getName()}"></td>
                                                                    <td class="secondReviewerOffice">Trường ĐHCN</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        <!--<input type='hidden' id='rendered_view_path' th:value='@{/admin/student}'/>-->
        <input type='hidden' id='export_council_path' th:value='@{/faculty/export/council2}'/>
        <!-- END PAGE CONTENT -->

        <!-- FOOTER -->
        <div th:replace='/admin/tpl/footer :: footer'></div>
        <!-- END FOOTER -->
    </div>

    <div id="removeConfirmReviewerModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Xóa giảng viên phản biện</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="alert alert-danger">
                            Xác nhận xóa giảng viên phản biện.
                        </div>
                        <input type="hidden" id="reviewerIdDel"/>

                        <div class="pull-right">
                            <button class="btn btn-default pull-right" type="button" data-dismiss="modal">
                                Đóng
                            </button>

                            <button class="btn btn-danger pull-right" id="del-reviewer-btn" data-dismiss="modal" type="submit">
                                Xóa
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="removeConfirmCouncilModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Xóa hội đồng</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="alert alert-danger">
                            Bạn chắc chắn muốn xóa hội đồng này?
                        </div>
                        <input type="hidden" id="councilIdDel"/>

                        <div class="pull-right">
                            <button class="btn btn-default pull-right" type="button" data-dismiss="modal">
                                Đóng
                            </button>

                            <button class="btn btn-danger pull-right" id="del-council-btn" data-dismiss="modal" type="submit">
                                Xóa
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN MAIN LEVEL SCRIPTS -->
    <script type="text/javascript"  src="../../public/js/jquery-2.1.1.js  "></script>
    <script type="text/javascript"  src="../../public/js/bootstrap.min.js "></script>
    <script type="text/javascript"  src="../../public/js/plugins/metisMenu/jquery.metisMenu.js "></script>
    <script type="text/javascript"  src="../../public/js/plugins/slimscroll/jquery.slimscroll.min.js "></script>
    <script th:src="@{/resources/js/plugins/typeahead/bootstrap3-typeahead.js "></script>
    <!-- END MAIN LEVEL SCRIPTS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script type="text/javascript"  src="../../public/js/plugins/iCheck/icheck.min.js "></script>
    <script type="text/javascript"  src="../../public/js/plugins/dataTables/datatables.min.js "></script>
    <script type="text/javascript"  src="../../public/js/wad/faculty/council.js "></script>
    <!-- END PAGE LEVEL SCRIPTS -->

    <!-- BEGIN CUSTOM SCRIPTS -->
    <script  src="../../public/js/inspinia.js "></script>
    <script  src="../../public/js/plugins/pace/pace.min.js "></script>
    <!-- END CUSTOM SCRIPTS -->

    <!-- BEGIN INLINE SCRIPTS -->
    <!-- END INLINE SCRIPTS -->
</body>
</html>