<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" charset="UTF-8">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title text="'Danh sách sinh viên - ' + #{app.name}"></title>

    <!-- BEGIN MAIN LEVEL STYLES -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link  href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
    <link  href="/css/animate.css" rel="stylesheet" media="screen">
    <link  href="/css/style.css" rel="stylesheet" media="screen">
    <!-- END MAIN LEVEL STYLES -->

    <!-- BEGIN PAGE LEVEL STYLESHEETS -->
    <link href="/css/plugins/iCheck/custom.css} " rel="stylesheet" media="screen">
    <link href="/css/plugins/datepicker/datepicker3.css " rel="stylesheet" media="screen">
    <link  href="/css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link  href="/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link  href="/css/plugins/bootstrap-markdown/bootstrap-markdown.min.css" rel="stylesheet" media="screen">
    <link  href="/css/wad/faculty/student.css" rel="stylesheet" media="screen">
    <!-- END PAGE LEVEL STYLESHEETS -->

</head>
<body>
<div id="wrapper">

    <!-- NAVIGATION -->
        <%- include("../admin/tpl/navigation") %>
    <!-- END NAVIGATION -->

    <div id="page-wrapper" class="gray-bg">

        <!-- HEADER -->
        <header>
            <%- include("../admin/tpl/header") %>
        </header>

        <!-- END HEADER -->

        <!-- PAGE TITLE -->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2 id="dsdv">Danh sách sinh viên</h2>
            </div>
        </div>
        <!-- END PAGE TITLE -->

        <!-- PAGE CONTENT -->
        <div id="studentManager" class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="row">
                                <div class="col-md-12 m-b-xs">
                                    <button class="btn btn-primary crt-std-title-btn" type="button">
                                        <i class="fa fa-plus"></i>
                                        Thêm sinh viên
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content crt-std-content">
                            <div class="row crt-std-wrap">
                                <div class="form-horizontal col-md-6 b-r">
                                    <h3 class="m-t-none m-b">Điền thông tin cho sinh viên</h3>
                                    <form id="createForm" action="@{/ws/student}">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="col-md-3 control-label" for="stdCode">Mã SV:</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" id="stdCode" name="stdCode" type="text">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="col-md-3 control-label" for="stdName">Tên:</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" id="stdName" name="stdName" type="text">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="col-md-3 control-label" for="stdDob">Ngày sinh:</label>
                                                <div class="col-md-9 dob-input">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        <input type="text" id="stdDob" class="form-control" value="1996-12-22">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="col-md-3 control-label" for="stdClass">Lớp:</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" id="stdClass" fragment="classList" name="stdSpec">
                                                        <option each="class : ${classList}"
                                                                value="${class.classId}"
                                                                text="${class.name}"></option>
                                                    </select>
                                                    <div class="notice">
                                                        <i class="fa fa-info-circle font-info"></i>
                                                        <span>
                                                            Nếu không tìm thấy lớp
                                                            <button class="btn btn-info btn-label" id="crt-class-btn-modal" type="button">
                                                                Tạo lớp
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="col-md-3 control-label" for="stdFaculty">Khoa:</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" id="stdFaculty" name="stdFaculty" readonly type="text" value="${#session.getAttribute('uetthesis_faculty_name')}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="col-md-3 control-label" for="stdSpec">Ngành:</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" id="stdSpec" fragment="specList" name="stdSpec">
                                                        <option each="spec : ${specList}"
                                                                value="${spec.getSpecId()}"
                                                                text="${spec.getName()}"></option>
                                                    </select>
                                                    <div class="notice">
                                                        <i class="fa fa-info-circle font-info"></i>
                                                        <span>
                                                            Nếu không tìm thấy ngành
                                                            <button class="btn btn-info btn-label" id="crt-spec-btn-modal" type="button">
                                                                Tạo ngành
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="col-md-3 control-label" for="stdFaculty">Được đăng ký làm khóa luận:</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" id="stdThesisStatus">
                                                        <option value="0" selected>Không được đăng ký</option>
                                                        <option value="1">Được đăng ký</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <button class="btn btn-primary pull-right crt-std-btn" type="submit">
                                                    Thêm sinh viên
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-6">
                                    <h3 class="m-t-none m-b">Hoặc tải lên file <label>excel</label> chứa danh sách thông tin sinh viên</h3>
                                    <div class="tabs-container">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a data-toggle="tab" href="#tab-1" aria-expanded="false">Danh sách dữ liệu sinh viên</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#tab-2" aria-expanded="true">Danh sách sinh viên được đăng ký</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="tab-1" class="tab-pane active">
                                                <form method="post" id="dropzoneForm1" class="dropzone" action="'./import/student?' + ${_csrf.parameterName}+ '=' + ${_csrf.token}" enctype="multipart/form-data">
                                                    <button class="btn btn-primary" id="dropzone-button1" type="submit">
                                                        <i class="fa fa-upload"></i>
                                                        <span class="bold">Tải lên</span>
                                                    </button>
                                                </form>
                                            </div>
                                            <div id="tab-2" class="tab-pane">
                                                <form method="post" id="dropzoneForm2" class="dropzone" action="'./import/student/updatestatus?' + ${_csrf.parameterName}+ '=' + ${_csrf.token}" enctype="multipart/form-data">
                                                    <button class="btn btn-primary" id="dropzone-button2" type="submit">
                                                        <i class="fa fa-upload"></i>
                                                        <span class="bold">Tải lên</span>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <section id="student-list">
                            <div fragment="studentContent" class="ibox-content">
                                <div class="table-responsive">
                                    <table id="student_table" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th><input type="checkbox" class="i-checks" name="cbox-total"></th>
                                            <th>Mã sinh viên</th>
                                            <th>Tên sinh viên</th>
                                            <th>Ngành</th>
                                            <th>Lớp</th>
                                            <th>Ngày sinh</th>
                                            <th>Được đăng kí KL</th>
                                            <th>Trạng thái KL</th>
                                            <th>Tuỳ chọn</th>
                                        </tr>
                                        </thead>
                                        <tfoot style="display: table-header-group;">
                                            <th></th>
                                            <th>Mã sinh viên</th>
                                            <th>Tên sinh viên</th>
                                            <th>Ngành</th>
                                            <th>Lớp</th>
                                            <th>Ngày sinh</th>
                                            <th>Được đăng kí KL</th>
                                            <th>Trạng thái KL</th>
                                            <th></th>
                                        </tfoot>
                                        <tbody>
                                        <tr each="student: ${studentList}">
                                            <input class="stdId" type="hidden" value="${student.studentId}">
                                            <td><input type="checkbox" class="i-checks" name="cbox"></td>
                                            <td class="stdCode" text="${student.getStudentCode()}"></td>
                                            <td class="stdName" text="${student.getName()}"></td>
                                            <td class="stdSpec" text="${student.getSpecialization().getName()}"></td>
                                            <td class="stdClass">
                                                <span text="${student.getClazz().getName()}"></span>
                                                <input type="hidden" value="${student.getClazz().getClassId()}">
                                            </td>
                                            <td class="stdDob" text="${#dates.format(student.getDob(), 'yyyy-MM-dd')}"></td>
                                            <td>
                                                <input type="hidden" class="stdThesisStatus" value="${student.thesisRegistrable}"/>
                                                <span switch="${student.thesisRegistrable}">
                                                    <p case="0" class="bg-danger">Không</p>
                                                    <p case="1" class="bg-primary">Có</p>
                                                </span>
                                            </td>
                                            <td>
                                                <span switch="${student.theses.size()}">
                                                    <p case="0" class="bg-danger">Chưa có khóa luận</p>
                                                    <span case="1" each="thesis : ${student.theses}">
                                                        <p class="bg-primary" text="${thesis.status.name}"></p>
                                                    </span>
                                                </span>
                                            </td>
                                            <td>
                                                <i class="fa fa-pencil font-primary" aria-hidden="true"></i>
                                                <i class="fa fa-trash font-danger" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="rendered_view_path" value="@{/faculty/student}"/>
        <!-- END PAGE CONTENT -->

        <!-- FOOTER -->
        <div replace="/admin/tpl/footer :: footer"></div>
        <!-- END FOOTER -->

    </div>
</div>

<div id="editStudentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form id="editForm" action="@{/ws/student}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thay đổi thông tin sinh viên</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" id="stdIdEdit">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-label" for="stdCode">Mã SV:</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="stdCodeEdit" name="stdCodeEdit" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-label" for="stdName">Tên:</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="stdNameEdit" name="stdNameEdit" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="col-md-4 control-label" for="stdClass">Lớp:</label>
                                <div class="col-md-6">
                                    <input class="form-control" id="stdClassEdit" name="stdClassEdit" type="text">
                                    <input id="stdClassEditHid" type="hidden">
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="col-md-6 control-label" for="stdDob">Ngày sinh:</label>
                                <div class="col-md-6">
                                    <input class="form-control" id="stdDobEdit" name="stdDobEdit" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-label" for="stdSpec">Khoa:</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="stdFacultyEdit" name="stdFacultyEdit" readonly type="text" value="${#session.getAttribute('uetthesis_faculty_name')}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-label" for="stdFaculty">Ngành:</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="stdSpecEdit" name="stdSpecEdit">
                                        <option each="spec : ${specList}"
                                                value="${spec.getSpecId()}"
                                                text="${spec.getName()}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-label" for="stdThesisStatusEdit">Được đăng ký khóa luận:</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="stdThesisStatusEdit">
                                        <option value="0">Không được đăng ký</option>
                                        <option value="1">Được đăng ký</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button class="btn btn-default pull-right" type="submit" data-dismiss="modal">
                            Đóng
                        </button>

                        <button class="btn btn-primary pull-right" type="submit">
                            Lưu thay đổi
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="removeConfirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xóa thông tin sinh viên</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    Thông tin sinh viên bị xóa sẽ không thể khôi phục:
                </div>
                <input type="hidden" id="stdIdDel"/>
                <div class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <span class="col-md-2">Mã SV:</span>
                            <div class="col-md-9">
                                <label id="stdCodeDel"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <span class="col-md-2">Tên:</span>
                            <div class="col-md-9">
                                <label id="stdNameDel"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="col-md-4">Lớp:</span>
                            <div class="col-md-6">
                                <label id="stdClassDel"></label>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <span class="col-md-6">Ngày sinh:</span>
                            <div class="col-md-6">
                                <label id="stdDobDel"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <span class="col-md-2">Khoa:</span>
                            <div class="col-md-9">
                                <label id="stdFacultyDel" text="${#session.getAttribute('uetthesis_faculty_name')}"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <span class="col-md-2">Ngành:</span>
                            <div class="col-md-9">
                                <label id="stdSpecDel"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-default pull-right" type="button" data-dismiss="modal">
                        Đóng
                    </button>

                    <button class="btn btn-danger pull-right" id="del-std-btn" data-dismiss="modal" type="submit">
                        Xóa
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="createSpecModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tạo ngành học</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="specNameCrt">Tên khoa: </label>
                        <div class="col-md-8">
                            <input type="hidden" id="specFalcutyIdCrt" value="${#session.getAttribute('uetthesis_faculty_id')}">
                            <input class="form-control" id="specfacultyNameCrt" value="${#session.getAttribute('uetthesis_faculty_name')}" type="text" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="specNameCrt">Tên ngành: </label>
                        <div class="col-md-8">
                            <input class="form-control" id="specNameCrt" placeholder="Nhập tên chuyên ngành" name="specNameCrt" type="text">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-default pull-right" type="button" data-dismiss="modal">
                        Đóng
                    </button>

                    <button class="btn btn-info pull-right" id="crt-spec-btn" data-dismiss="modal" type="submit">
                        Tạo ngành
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="createClassModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tạo lớp</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="specNameCrt">Tên khoa: </label>
                        <div class="col-md-8">
                            <input type="hidden" id="classFalcutyIdCrt" value="${#session.getAttribute('uetthesis_faculty_id')}">
                            <input class="form-control" id="classfacultyNameCrt" value="${#session.getAttribute('uetthesis_faculty_name')}" type="text" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="classNameCrt">Tên lớp: </label>
                        <div class="col-md-8">
                            <input class="form-control" id="classNameCrt" placeholder="Nhập tên lớp" name="classNameCrt" type="text">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-default pull-right" type="button" data-dismiss="modal">
                        Đóng
                    </button>

                    <button class="btn btn-info pull-right" id="crt-class-btn" data-dismiss="modal" type="submit">
                        Tạo lớp
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="mail_modal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="send_mail_form" action="#">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Gửi email cho danh sách những người đã chọn</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" name="mail_title" id="mail_title" type="text" placeholder="Nhập tiêu đề email">
                    </div>
                    <div class="form-group">
                        <textarea id="mail_content" name="mail_content" data-provide="markdown" rows="10">*Nhập nội dung email ở đây*</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Gửi</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- BEGIN MAIN LEVEL SCRIPTS -->
<script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script type="text/javascript"  src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- END MAIN LEVEL SCRIPTS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script type="text/javascript"  src="/js/plugins/validate/jquery.validate.min.js"></script>
<script type="text/javascript"  src="/js/plugins/bootstrap-markdown/bootstrap-markdown.js"></script>
<script type="text/javascript"  src="/js/plugins/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript"  src="/js/plugins/bootstrap-markdown/markdown.js"></script>
<script type="text/javascript"  src="/js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript"  src="/js/plugins/dropzone/dropzone.js"></script>
<script type="text/javascript"  src="/js/plugins/dataTables/datatables.min.js"></script>
<script type="text/javascript"  src="/js/wad/faculty/student.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<!-- BEGIN CUSTOM SCRIPTS -->
<script  src="/js/inspinia.js"></script>
<script  src="/js/plugins/pace/pace.min.js"></script>
<!-- END CUSTOM SCRIPTS -->

<!-- BEGIN INLINE SCRIPTS -->
<!-- END INLINE SCRIPTS -->
</body>

</html>
