<html xmlns:th="http://www.thymeleaf.org" charset="UTF-8">
<body>
<div fragment="footer">
    <div class="wad-footer">
        <div class="container">
            <div class="row footer-wrap">
                <div class="pull-left footer-left">
                    <h2>Hệ thống quản lí kì thi</h2>
                    <p>Trường Đại học Công Nghệ - Đại học Quốc Gia Hà Nội</p>
                    <div class="copyright">
                        Phát triển bởi <strong>Gaio Team</strong>
                    </div>
                </div>
                <div class="pull-right footer-right">
                    <h2>Liên hệ</h2>
                    <p>
                        <strong>Gaio Team</strong>
                        
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i>
                        <strong>Email:</strong>
                        <a href="mailto:@vnu.edu.vn">support@vnu.edu.vn</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>