<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<body>
            <div th:fragment="footer" class="footer">
                <div>
                    Ver:2019  <strong>Gaio Team</strong>
                </div>
            </div>
</body>
</html>