<!DOCTYPE html>
<html>
<body>

            <!-- header fragment -->
            <div fragment="header" class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links col-md-9" style="padding-left:30px;">
                        <li><h2 style="font-weight: 500;">HỆ THỐNG QUẢN LÍ KÌ THI  - ĐH CÔNG NGHỆ, ĐHQGHN</h2></li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="../../login">
                                <i class="fa fa-sign-out"></i> Đăng xuất
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
</body>
</html>